/*header color #428BCA*/
/*footer color #C9DEF0*/
.title{
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    margin: 5vw;
}
input{
    padding: 10px 0;
    margin: 2vh 0;
}
select{
    margin: 2vh 0;
    height: 5vh;
}